
span
{
    justify-content: center;
}
h1 {
 
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1.2;

  margin-bottom: 1rem;
}

p {
    margin: 2px;
  
  line-height: 1.7;

  max-width: 600px;
}
