
span
{
    justify-content: center;
}
h1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1.2;
  color:rgb(6, 243, 65);
  margin-bottom: 1rem;
}

p {
    margin: 2px;
  font-size: 1.1rem;
  line-height: 1.7;
  color:rgb(6, 243, 65);
  max-width: 600px;
}
