.landing-page {
  color:rgb(255, 255, 255);
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
.landing-container h1
{
  font-size: 60px;
}
}
.quote {
  font-size: 40px;
  font-style: italic;
  margin: 1rem 0;
  opacity: 0.9;
}

.description {
  font-size: 30px;
  max-width: 500px;
  margin: 1rem auto;
  line-height: 1.6;
}

.features p {
  font-size: 26px;
  margin: 0.4rem 0;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}


[data-us-project] {
  position: fixed;
  inset: 0;
  z-index: 0;
}
.landing-page {
  position: relative;
  z-index: 1;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

