.contains{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image:url('/../public/loginpage.jpg');
    background-size:cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items:center;
}
.loginbox{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 500px;
}
.inputs{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   height: 350px;
   width: 520px;
   padding: 10px;
   border-radius: 30px;
   background-color: #031a47;
   box-shadow:20px 20px 15px rgb(4,22,26);
}
.heading{
    text-align: center;
}

<<<<<<< HEAD
.inputs[type="emails"]{
    background-color:#2e6aa1; 
=======
.inputs .input[type="email"]{
>>>>>>> b216fdacd9c3b8158beb088c1fd8c6773c6e735d
    border-radius: 20px;
    padding-bottom: 10px;
    box-shadow:20px 20px 15px rgb(4,22,26);
}
<<<<<<< HEAD
::placeholder{
   background-color:rgb(132, 191, 247); 
=======
.inputs ::placeholder{
   background-color:#2e6aa1; 
>>>>>>> b216fdacd9c3b8158beb088c1fd8c6773c6e735d
   color: black;
   border-radius: 0px;
   padding-bottom: 10px;
   box-shadow:20px 20px 15px rgb(4,22,26);

}
<<<<<<< HEAD
.inputs[type="passwords"]{
=======
.inputs .input[type="password"]{
>>>>>>> b216fdacd9c3b8158beb088c1fd8c6773c6e735d
    border-radius: 20px;
    background-color:#4988C4;
    padding-bottom: 10px;
    box-shadow:20px 20px 15px rgb(4,22,26);
<<<<<<< HEAD
} 
.buttons{
=======
} */
.contains .buttons{
>>>>>>> b216fdacd9c3b8158beb088c1fd8c6773c6e735d
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

<<<<<<< HEAD
.login-in{
=======
.login{
>>>>>>> b216fdacd9c3b8158beb088c1fd8c6773c6e735d
    border-radius: 20px;
    background-color:#4988C4;
    padding-bottom: 10px;
    box-shadow:20px 20px 15px rgb(4,22,26);
}
.sign-in{
    border-radius: 20px;
    background-color:#4988C4;
    padding-bottom: 10px;
    box-shadow:20px 20px 15px rgb(4,22,26)
}
