.mood-checkin
{
    display: flex;
justify-content: center;
background-color: white;
margin-bottom: 20px;

}
.mood-checkin button
{
    background-color: rgb(0, 195, 255);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}