.navbar {
  position: relative;
  z-index: 10;
}

.nav-links{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

font-family: Arial, Helvetica, sans-serif;
height:45px;
}
a{
    text-decoration: none;
    margin-right:20px;
    color: rgb(114, 217, 243);
}
.nav-links .button
{

     color: rgb(114, 217, 243);
    background-color:#213448 ;
}