.nav-links{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background-color: #213448;
font-family: Arial, Helvetica, sans-serif;
height:45px;
}
a{
    text-decoration: none;
    margin-right:20px;
    color: rgb(114, 217, 243);
}

