
   @import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.container{
   
  background-image: url(/../public/IMG_8649.JPG);
   background-size: contain;
   background-repeat: no-repeat;
  height: 100vh;
   background-position: center;
   display: flex;
   flex-direction: column ;
   justify-content: center;
   align-items: center;
   padding-left: 600px;
   padding-right: 600px;
   position: relative;
}
.loginBox{
 
   width: 700px;
   height: 400px;
   margin-right: 700px;
   background-color: rgb(8, 68, 117);
  
   padding-top: 30px;
   margin-top: 200px;
   margin-left: 680px;
   margin-right: 750px;
   margin-bottom: 300px;

   padding-right: 100px;
   padding-bottom: 50px;
   border-radius: 20px;
   box-shadow: 20px 20px 15px rgb(6, 22, 29);


}
h1{
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 200px;
   width: 600px;
   color: rgb(154, 209, 219);
   padding-left: 90px;
}
input{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-left: 300px;
   padding-top: 5px;
   padding-left: 10px;
   padding-right: 30px;
   padding-bottom: 5px;
    
}
input[type="email"]{
   padding-bottom: 10px;
   padding-left: 10px;
  
   color: rgb(0, 0, 0);
   border-radius: 10px;
   margin-bottom: 40px;
   border: none;
   background-color: rgb(178, 210, 237);
   box-shadow: 20px 20px 15px rgb(4, 22, 46);
}
input[type="password"]{
   padding-bottom: 10px;
   padding-left: 10px;
  border-radius: 10px;
   color: rgb(0, 0, 0);
   margin-bottom: 40px;
   border: none;
   background-color: rgb(178, 210, 237);
   box-shadow: 20px 20px 15px rgb(4, 22, 46);
}
::placeholder{
   color: rgb(22, 22, 84);
   font-weight: 600;
}
.log{

   margin-right: 90px;
   gap: 10px;
    border-radius: 5px;
   border: none;
   font-size: 15px;
   font-weight: 600;
   color: rgb(4, 4, 49);
}
.sign{
   margin-left: 300px;
   margin-right: 20px;
   border-radius: 5px;
   border: none;
   font-size: 18px;
   font-weight: 600;
      color: rgb(4, 4, 49);

}
button:hover{
   background-color: rgb(62, 174, 226);
}
.svg{
   position: absolute;
}