
   @import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.signup-page {
  min-height: 100vh;
  background-image: url("/../public/IMG_8649.JPG");
  background-size: cover;
  background-position: center;
}

.signup-page .container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 70px);
}

.signup-page .loginBox {
  width: 420px;
  background-color: rgb(8, 68, 117);
  padding: 30px;
  border-radius: 20px;
  box-shadow:20px 20px 15px rgb(4,22,26);
}

.signup-page .input{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-left: 300px;
   padding-top: 5px;
   padding-left: 10px;
   padding-right: 30px;
   padding-bottom: 5px;
    
}
.signup-page .input[type="email"]{
   padding-bottom: 10px;
   padding-left: 10px;
  
   color: rgb(0, 0, 0);
   border-radius: 10px;
   margin-bottom: 40px;
   border: none;
   background-color: rgb(178, 210, 237);
   box-shadow: 20px 20px 15px rgb(4, 22, 46);
}
.signup-page .input[type="password"]{
   padding-bottom: 10px;
   padding-left: 10px;
  border-radius: 10px;
   color: rgb(0, 0, 0);
   margin-bottom: 40px;
   border: none;
   background-color: rgb(178, 210, 237);
   box-shadow: 20px 20px 15px rgb(4, 22, 46);
}
.signup-page ::placeholder{
   color: rgb(22, 22, 84);
   font-weight: 600;
}
.log{

   margin-right: 90px;
   gap: 10px;
    border-radius: 5px;
   border: none;
   font-size: 15px;
   font-weight: 600;
   color: rgb(4, 4, 49);
}
.sign{
   margin-left: 300px;
   margin-right: 20px;
   border-radius: 5px;
   border: none;
   font-size: 18px;
   font-weight: 600;
      color: rgb(4, 4, 49);

}
button:hover{
   background-color: rgb(62, 174, 226);
}
